@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.active{
  background-color: #f7f7f7;
}